*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
}
section{
    width: 100%;
    margin: 0 auto;
}
.sectioncaj{
    /*width: 100%;
    margin: 0 auto;*/
    display: inline-block;
    align-items: center;
}

.articulo{
    display: inline-block;
    width: 30%;
    border: 5px solid black;
    text-align: center;
    align-content: center;
}